.hover-highlight {
  &__penthouses_view1 {
    pointer-events: all;
    z-index: 6;
    position: absolute;
    display: block;

    top: 15px;
    left: 331px;
  }

  &__flats_level3_view1 {
    scale: 98%;
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 310px;
    left: 360px;
  }

  &__flats_level4_view1 {
    scale: 100%;
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 255px;
    left: 360px;
  }

  &__flats_level5_view1 {
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 195px;
    left: 350px;
  }

  &__cityhouses1_view1 {
    pointer-events: all;
    z-index: 4;
    position: absolute;
    display: block;
    top: 420px;
    left: 489px;
  }

  &__cityhouses2_view1 {
    pointer-events: all;
    z-index: 4;
    position: absolute;
    display: block;
    top: 345px;
    right: 333px;
  }

  &__villas_view1 {
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 233px;
    left: 233px;
  }

  &__penthouses_view2 {
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 5px;
    left: 211px;
  }

  &__flats_level3_view2 {
    opacity: 1;
    scale: 98%;
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 293px;
    left: 230px;
  }

  &__flats_level4_view2 {
    pointer-events: all;
    z-index: 6;
    position: absolute;
    display: block;
    top: 228px;
    left: 235px;
  }

  &__flats_level5_view2 {
    scale: 98%;
    pointer-events: all;
    z-index: 6;
    position: absolute;
    display: block;
    top: 172px;
    left: 223px;
  }

  &__cityhouses_view2 {
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 340px;
    right: 125px;
  }

  &__villas_view2 {
    pointer-events: all;
    z-index: 5;
    position: absolute;
    display: block;
    top: 290px;
    left: 50px;
  }
}
