.main-page {
  background-image: linear-gradient(
      rgba(241, 238, 233, 0.85),
      rgba(241, 238, 233, 0.85)
    ),
    url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 57px;
  overflow: hidden;
}

.img-box_view1 {
  position: relative;
  width: 1381px;
  height: 690.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  pointer-events: none;
}

.building-img-back_view1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.cover_view1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0ede8d9;
  z-index: 2;
  pointer-events: none;
}

.building-img_view1 {
  position: absolute;
  top: 16px;
  left: 179px;
  z-index: 3;
  pointer-events: none;
}

.compass_view1 {
  position: absolute;
  bottom: -27px;
  left: 1180px;
  z-index: 4;
}

.surroundings_view1 {
  position: absolute;
  left: 1280px;
  bottom: -65px;
  z-index: 4;
}

.img-box_view2 {
  position: relative;
  width: 1001.2px;
  height: 675.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 2rem;
  pointer-events: none;
}

.building-img-back_view2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
}

.cover_view2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0ede8d9;
  z-index: 2;
  pointer-events: none;
}

.building-img_view2 {
  position: absolute;
  left: -7px;
  top: 5px;
  z-index: 3;
  pointer-events: none;
}

.compass_view2 {
  position: absolute;
  bottom: -43px;
  left: 945px;
  z-index: 4;
}

.surroundings_view2 {
  position: absolute;
  left: 1005px;
  bottom: -36px;
  z-index: 4;
}

.change-view_view1 {
  position: absolute;
  top: 11px;
  left: 1305px;
  z-index: 4;
  cursor: pointer;
  pointer-events: auto;
}

.change-view_view2 {
  position: absolute;
  top: 11px;
  left: 1115px;
  z-index: 4;
  cursor: pointer;
  pointer-events: auto;
}

@media (max-width: 1440px) {
  .img-box_view1 {
    transform: scale(0.8);
    transform-origin: 50% 0px;
  }

  .img-box_view2 {
    transform: scale(0.8);
    transform-origin: 50% 0px;
  }
}

@media (max-width: 1024px) {
  .img-box_view1 {
    transform: scale(0.6);
    transform-origin: 15% 0px;
  }

  .img-box_view2 {
    transform: scale(0.6);
    transform-origin: 40% 0px;
  }
}

@media (max-width: 768px) {
  .img-box_view1 {
    transform: scale(0.45);
    transform-origin: 10% 0px;
  }

  .img-box_view2 {
    transform: scale(0.45);
    transform-origin: 32% 0px;
  }
}

@media (max-width: 425px) {
  .img-box_view1 {
    transform: scale(0.24);
    transform-origin: 6% 0px;
  }

  .img-box_view2 {
    transform: scale(0.24);
    transform-origin: 12% 0px;
  }
}
