.navigation {
  position: absolute;
  left: 0px;
  top: 267px;
  width: 207px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  border-radius: 0 20px 20px 0;
  background-color: #ffffff;
  overflow: hidden;
  transition: transform 0.7s ease;
  transform: translateX(0);

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    padding: 0px 20px;
    font-family: Galatea;
    font-size: 15px;
    color: #000000;
    text-align: left;
    cursor: pointer;

    &:hover {
      background-color: #ad8361;
      color: white;
    }

    &:not(:first-child) {
      border-bottom: 1px solid rgba(173, 131, 97, 0.15);
    }

    &:active {
      border: 1px solid white;
    }
  }
}

@media (max-width: 1024px) {
  .navigation {
    top: 200px;
    width: 150px;
  }
  .navigation__item {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navigation {
    top: 150px;
  }
  .navigation__item {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .navigation {
    width: 100px;
  }
  .navigation__item {
    font-size: 7px;
    padding: 0px 10px;
  }
}

@media (max-width: 425px) {
  .navigation {
    width: 75px;
    top: 100px;
  }
  .navigation__item {
    font-size: 7px;
    padding: 0px 10px;
  }
}
